---
import { useTranslations } from "../../i18n/util";
import { languages } from "../../i18n/ui";
const currentLang = Astro.currentLocale || "es";
const translateLabels = useTranslations(currentLang as keyof typeof languages);
import "./Working.css";
---


<section>
    <div class="working-container">
        <div class="working-text-container">
    <h1>{translateLabels("working.title")}</h1>
    <p>{translateLabels("working.description")}</p>
    <button>{translateLabels("working.button")}</button>
        </div>
    </div>
</section>