---
import { useTranslations } from "../../i18n/util";
import { languages} from "../../i18n/ui";
const currentLang = Astro.currentLocale || 'es';
import "./HeroSection.css"
const translateLabels = useTranslations(currentLang as keyof typeof languages);
---

<section>
    <div class="hero-section">
        <div class="left-section">
        <h1><span >{translateLabels("hero.title.important")} </span>{translateLabels("hero.title")}</h1>
        <p>{translateLabels("hero.description")}</p>
        <button>{translateLabels("hero.button")}</button>
        </div>
        <div class="right-section">
            <figure class="hero-image-container">
                <img class="hero-image" src="/assets/images/woman-herosection.png" alt={translateLabels("hero.imageAlt")} />
            </figure>
        </div>
    </div>
</section>