---
import { useTranslations } from "../../i18n/util";
import { languages } from "../../i18n/ui";
import CardProjects from "../CardProjects/CardProjects.astro";
const currentLang = Astro.currentLocale || "es";
const translateLabels = useTranslations(currentLang as keyof typeof languages);
import "./Projects.css";
const projects = [
  //First Project
  {
    title: translateLabels("project-card-first-title"),
    description: translateLabels("project-card-first-description"),
    image: "/assets/images/project-example-first-card.png",
    imageAlt: translateLabels("project-card-first-alt"),
  },
  //   Second Project
  {
    title: translateLabels("project-card-second-title"),
    description: translateLabels("project-card-second-description"),
    image: "/assets/images/project-example-second-card.png",
    imageAlt: translateLabels("project-card-second-alt"),
  },
  //   Third Project
  {
    title: translateLabels("project-card-third-title"),
    description: translateLabels("project-card-third-description"),
    image: "/assets/images/project-example-third-card.png",
    imageAlt: translateLabels("project-card-third-alt"),
  },
];
---

<section id="projects">
  <div class="project-section-container">
    <div class="bg-section">
      <figure class="shape-container">
        <img class="shape" src="/assets/Icons/shape.svg" alt="" />
      </figure>
      <h1>{translateLabels("project.title")}</h1>
    </div>
    <div class="swiper SwiperProject">
      <div class="project-card-container swiper-wrapper">
        {
          projects.map((project) => (
            <div class="swiper-slide">
              <CardProjects
                title={project.title}
                description={project.description}
                image={project.image}
                imageAlt={project.imageAlt}
              />
            </div>
          ))
        }
      </div>
      <!-- Navigation buttons -->
      <div class="custom-navigation">
        <div class="swiper-button-prev custom-prev"></div>
        <div class="swiper-button-next custom-next"></div>
      </div>
    </div>
  </div>
</section>
<script src="./Projects.js"></script>
