---
import "./BlogsModals.css";
---

<div id="blog-modal" class="modal-overlay">
  <div class="modal-content">
    <button class="modal-close" id="close-modal">&times;</button>
    <div class="modal-body" id="modal-body"></div>
  </div>
</div>

|