---
import "./Logos.css";
---

<section>
  <div class="logo-container">
    <div class="logo-slide">
      <!-- Logos originales -->
      <figure>
        <img src="/assets/logos/acerosturialogo.png" alt="Acerosturia" />
      </figure>
      <figure><img src="/assets/logos/almasalogo.png" alt="Almasa" /></figure>
      <figure>
        <img src="/assets/logos/asogestionlogo.png" alt="Asogestión" />
      </figure>
      <figure>
        <img src="/assets/logos/chhingenierialogo.png" alt="CHH Ingeniería" />
      </figure>
      <figure>
        <img src="/assets/logos/colegioaleman.png" alt="Colegio Alemán" />
      </figure>
      <figure>
        <img src="/assets/logos/construplanlogo.png" alt="Construplan" />
      </figure>
      <figure>
        <img src="/assets/logos/dimontlogo.png" alt="Dimont" />
      </figure>
      <figure>
        <img src="/assets/logos/emulogo.avif" alt="EMU" />
      </figure>
      <figure>
        <img src="/assets/logos/logowillard.png" alt="Willard" />
      </figure>
      <figure>
        <img src="/assets/logos/molinologo.png" alt="Molino" />
      </figure>
      <figure>
        <img src="/assets/logos/plclogo.png" alt="PLC" />
      </figure>
      <figure>
        <img src="/assets/logos/proalcologo.png" alt="Proalco" />
      </figure>
      <figure>
        <img src="/assets/logos/siderlogo.png   " alt="Sider" />
      </figure>
      <figure>
        <img src="/assets/logos/sulfologo.png" alt="Sulfo" />
      </figure>
      <figure>
        <img src="/assets/logos/tenarislogo.png" alt="Tenaris" />
      </figure>
      <figure>
        <img src="/assets/logos/termalteclogo.png" alt="Termaltec" />
      </figure>
      <figure>
        <img src="/assets/logos/Terniumlogo.png" alt="Ternium" />
      </figure>

      <!-- Duplicación para animación infinita -->
      <figure>
        <img src="/assets/logos/acerosturialogo.png" alt="Acerosturia" />
      </figure>
      <figure><img src="/assets/logos/almasalogo.png" alt="Almasa" /></figure>
      <figure>
        <img src="/assets/logos/asogestionlogo.png" alt="Asogestión" />
      </figure>
      <figure>
        <img src="/assets/logos/chhingenierialogo.png" alt="CHH Ingeniería" />
      </figure>
      <figure>
        <img src="/assets/logos/colegioaleman.png" alt="Colegio Alemán" />
      </figure>
      <figure>
        <img src="/assets/logos/construplanlogo.png" alt="Construplan" />
      </figure>
      <figure>
        <img src="/assets/logos/dimontlogo.png" alt="Dimont" />
      </figure>
      <figure>
        <img src="/assets/logos/emulogo.avif" alt="EMU" />
      </figure>
      <figure>
        <img src="/assets/logos/logowillard.png" alt="Willard" />
      </figure>
      <figure>
        <img src="/assets/logos/molinologo.png" alt="Molino" />
      </figure>
      <figure>
        <img src="/assets/logos/plclogo.png" alt="PLC" />
      </figure>
      <figure>
        <img src="/assets/logos/proalcologo.png" alt="Proalco" />
      </figure>
      <figure>
        <img src="/assets/logos/siderlogo.png" alt="Sider" />
      </figure>
      <figure>
        <img src="/assets/logos/sulfologo.png" alt="Sulfo" />
      </figure>
      <figure>
        <img src="/assets/logos/tenarislogo.png" alt="Tenaris" />
      </figure>
      <figure>
        <img src="/assets/logos/termalteclogo.png" alt="Termaltec" />
      </figure>
      <figure>
        <img src="/assets/logos/Terniumlogo.png" alt="Ternium" />
      </figure>
    </div>
  </div>
</section>
