---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header/header.astro";
import HeroSection from "../../components/HeroSection/HeroSection.astro";
import Services from "../../components/WeServices/Services.astro";
---

<Layout>
  <div class="bg-image">
    <Header />
    <HeroSection />
  </div>

  <Services />
</Layout>

<style>
  .bg-image {
    background-image: url("/assets/images/background-herosection.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
</style>
